@font-face {
    font-family: "pixelFont";
    src: url(../assets/Fonts/prstart.ttf);
}

body{
    font-family: "pixelFont", "monospace";
}


main{
    width: 800px;
    height: 400px;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    box-shadow: 0px 0px 10px 5px white;
    margin: auto;
    border-radius: 20px;
    margin: 35vh auto;
}
.menu{
    justify-content: center;
    align-items: center;
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
    padding-left: 100px;
}
.character{
    width: 100px;
    height: 150px;
    border-radius: 30px;
    box-shadow: 0 0 10px 5px white;
    transition: .5s;
    text-align: center;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
    font-size: 1rem;

    p{
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    &:hover{
        box-shadow: 0 0 2px 1px green, 0 0 10px 5px green inset;
        cursor: pointer; 
    }
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: black;
    height: 100vh;
    backdrop-filter: blur(10px);
}

.player{
    align-self: center;
    justify-self: top;
    border-radius: 50%;
    background-color: lightgrey;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 20px;
    right: 100%;
}

h1{
    color: white;
    font-size: 2rem;
    text-align: center;
    padding-top: 20px;
}

.selected{ box-shadow: 0px 0px 5px 3px red;}
.confirmed{color: yellow !important; text-decoration: underline;}

.mapMenu{
    display: flex;
    flex-direction: column;
    align-items: center;

    #showCaseContainer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 20px;
        width: 100%;
        height: 40%;
        

        .playerHead{
            height: 100px;
            width: 70px;
            border-radius: 50%;
            background-color: lightgrey;
            color: white;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            transition: .5s;
            box-shadow: 0px 0px 10px 5px white;

            &:hover{
                cursor: pointer;
                box-shadow: 0px 0px 0px 1px white;
            }
        }
        #showCase{
            display: flex;
            align-items: flex-end;
            justify-content: center;
            text-align: center;
            font-size: 2rem;
            text-decoration: underline;
            height: 100%;
            width: 60%;
            border-radius: 30px;
            box-shadow: 0px 0px 10px 5px white;
            color: white; 
        }
    }
    #map-select{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;


        .map{
            width: 150px;
            height: 80px;
            border-radius: 30px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            box-shadow: 0px 0px 3px 1px white;
            
            &:hover{
                cursor: pointer;
                box-shadow: 0px 0px 2px 1px green;
            }
        }  
        
    }
}

#countdown{
    
    color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10rem;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, green, yellow);
    -webkit-background-clip: text;
    font-family: monospace;
    z-index: 300;
}